<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Альбомы</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<form>
    <!--/*@thymesVar id="username" type="java.lang.String"*/-->
    <!--/*@thymesVar id="access" type="java.lang.Boolean"*/-->
    <div>
        <nav class="navbar navbar-light bg-light navbar-expand-md">
            <a href="/albums" class="navbar-brand">Альбомы</a>
            <ul class="navbar-nav mr-auto">
                <li class="navbar-item">
                    <a href="/" class="nav-link">Плейлисты</a>
                </li>
                <li class="navbar-item">
                    <a href="/performers" class="nav-link">Исполнители</a>
                </li>
                <li class="navbar-item">
                    <a href="/songs" class="nav-link">Песни</a>
                </li>
            </ul>
            <form action="/logout">
                <button type="submit" class="btn btn btn-danger" th:text="'Выход (' + ${username} + ')'"
                        name="logout"></button>
            </form>
        </nav>
    </div>
    <br>

    <div class="d-flex flex-row mt-5 ml-5 mb-5">
        <a href="/add/albums" class="btn btn-outline-success mr-3" th:if="${access}">Добавить альбом</a>
        <a href="/search/albums" class="btn btn-outline-primary">Поиск...</a>
    </div>

    <!--/*@thymesVar id="albums" type="com.vakhnenko.dto.album.AlbumResponse[]"*/-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3" th:each="album : ${albums}">
                <div class="card">
                    <div class="card-header">
                        <img class="card-img-top" alt="Card header image" th:src="@{/images/album_icon.jpg}"
                             th:alt="'Сегодня без обложки...'">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center" th:text="${album.getAlbumName()}"></h5>
                        <p class="lead text-center" th:text="'Записан: ' + ${album.getFormattedDate()}"></p>
                    </div>
                    <div class="card-footer">
                        <a th:href="'/albums/' + ${album.getAlbumId()}"
                           class="btn btn-info float-left">
                            Открыть
                        </a>
                        <a th:href="'/delete/albums/' + ${album.getAlbumId()}" th:if="${access}"
                           class="btn btn-danger float-right">
                            Удалить
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--/*@thymesVar id="currentPage" type="java.lang.Integer"*/-->
    <form>
        <div class="d-flex justify-content-center mt-5">
            <button name="pageBack" th:value="${currentPage}">&lt;</button>
            <input type="text" name="currentPage" class="ml-2 mr-2 text-center" th:value="'Страница ' + ${currentPage}"
                   readonly>
            <button name="pageForward" th:value="${currentPage}">&gt;</button>
        </div>
    </form>

    <!--/*@thymesVar id="error" type="String"*/-->
    <div th:if="${error} != null">
        <p th:replace="modals :: errorModal(${error})"></p>
    </div>

</form>
</body>
</html>