<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Альбом</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<form>
    <!--/*@thymesVar id="album" type="com.vakhnenko.dto.album.AlbumResponse"*/-->
    <!--/*@thymesVar id="username" type="java.lang.String"*/-->
    <!--/*@thymesVar id="access" type="java.lang.Boolean"*/-->
    <div>
        <nav class="navbar navbar-light bg-light navbar-expand-md">
            <a th:href="'/albums/' + ${album.getAlbumId()}" class="navbar-brand"
               th:text="${album.getAlbumName()}">Альбом</a>
            <ul class="navbar-nav mr-auto">
                <li class="navbar-item">
                    <a href="/albums" class="nav-link">Все альбомы</a>
                </li>
                <li class="navbar-item">
                    <a href="/" class="nav-link">Плейлисты</a>
                </li>
                <li class="navbar-item">
                    <a href="/performers" class="nav-link">Исполнители</a>
                </li>
                <li class="navbar-item">
                    <a href="/songs" class="nav-link">Песни</a>
                </li>
            </ul>
            <form action="/logout">
                <button type="submit" class="btn btn btn-danger" th:text="'Выход (' + ${username} + ')'"
                        name="logout"></button>
            </form>
        </nav>
    </div>
    <br>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-1" th:text="'Альбом: ' + ${album.getAlbumName()}"></h2>
            <br>
            <p class="lead" th:text="'Исполнитель: ' + ${album.getPerformer().getPerformerName()}"></p>
            <p class="lead" th:text="'Альбом записан: ' + ${album.getFormattedDate()}"></p>
            <p class="lead" th:text="'Создан: ' + ${album.creationDate()}"></p>
            <p class="lead" th:text="'Обновлен: ' + ${album.updateDate()}"></p>
            <p th:if="${access}"><a th:href="'/update/albums/' + ${album.getAlbumId()}"
                                    class="btn btn-outline-secondary">Изменить данные альбома</a></p>
        </div>
    </div>
    <br>

    <div class="d-flex flex-row mt-3 ml-5 mb-3">
        <a th:href="'/add/songs?albumName=' + ${album.getAlbumName()} + '&performerName='
        + ${album.getPerformer().getPerformerName()}" th:if="${access}"
           class="btn btn-outline-success mr-3">Добавить песню</a>
        <a th:href="'/search/songs?albumName=' + ${album.getAlbumName()} + '&performerName='
        + ${album.getPerformer().getPerformerName()}"
           class="btn btn-outline-primary">Поиск...</a>
    </div>

    <!--/*@thymesVar id="songs" type="com.vakhnenko.dto.song.SongResponse[]"*/-->
    <table class="table" th:if="${songs} != null">
        <thead class="thead-light">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Название</th>
            <th scope="col">Продолжительность (мин.)</th>
            <th scope="col"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="song : ${songs}">
            <th scope="row" th:text="${songStat.index + 1}"></th>
            <td><a th:href="'/update/songs/' + ${song.getSongId()}" th:text="${song.getSongName()}"></a></td>
            <td th:text="${song.getSongLength()}"></td>
            <td>
                <a th:href="'/delete/songs' + ${song.getSongId()}" th:if="${access}"
                   class="btn btn-outline-secondary">Удалить
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <form>
        <!--/*@thymesVar id="currentPage" type="java.lang.Integer"*/-->
        <div class="d-flex justify-content-center mt-5 mb-5">
            <button name="pageBack" th:value="${currentPage}">&lt;</button>
            <input type="text" name="currentPage" class="ml-2 mr-2 text-center" th:value="'Страница ' + ${currentPage}"
                   readonly>
            <button name="pageForward" th:value="${currentPage}">&gt;</button>
        </div>
    </form>

    <!--/*@thymesVar id="error" type="String"*/-->
    <div th:if="${error} != null">
        <p th:replace="modals :: errorModal(${error})"></p>
    </div>
</form>
</body>
</html>